.about-title{
    margin-top: 3rem;
    h4{
        color: red;
        font-weight: 100;
    }
    h2{
        font-weight: 700;
    }
    p{
        color: gray;
        margin-top: 3rem;

    }
}
.card img{
    width: 100%;
}
.card{
    border: none;
    h5{
        color: red;
    }
}